<div class="search-container">
  <h1 class="search-title">Поиск картинок на Pixabay API</h1>
  <form class="search-form" id="search-form">
    <input type="text" name="query" autocomplete="off" placeholder="Search images..." />
    <button type="submit" class="btn btn-search">Search</button>
  </form>
  <div class="gallery-container">
    <ul class="gallery">
      <!-- Список <li> с карточками изображений -->
    </ul>
    <button type="submit" class="btn btn-load">Load more</button>
  </div>
</div>
